<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="Testing_Winform.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Testing_Winform.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Testing_Winform.Settings>
      <setting name="serverActive" serializeAs="String">
        <value>dbDevelopment</value>
      </setting>
    </Testing_Winform.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <userSettings>
    <Testing_Winform.Settings>
      <setting name="myBU" serializeAs="String">
        <value />
      </setting>
      <setting name="myWO" serializeAs="String">
        <value />
      </setting>
      <setting name="myWorkArea" serializeAs="String">
        <value />
      </setting>
      <setting name="myStrID" serializeAs="String">
        <value />
      </setting>
      <setting name="localWorkArea" serializeAs="String">
        <value />
      </setting>
      <setting name="workLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booDebug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MyTestCase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="booConductDevMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booConductExcelVis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booImportInputsExcelVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="booReportOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devSql" serializeAs="String">
        <value />
      </setting>
      <setting name="ntokendev" serializeAs="String">
        <value />
      </setting>
      <setting name="wtokendev" serializeAs="String">
        <value />
      </setting>
      <setting name="ccisiteshttpurl" serializeAs="String">
        <value />
      </setting>
      <setting name="prodsql" serializeAs="String">
        <value />
      </setting>
      <setting name="ntoken" serializeAs="String">
        <value />
      </setting>
      <setting name="wtoken" serializeAs="String">
        <value />
      </setting>
      <setting name="dbSelection" serializeAs="String">
        <value>DEV</value>
      </setting>
    </Testing_Winform.Settings>
  </userSettings>
</configuration>
