<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CciSites.Utils" version="1.1.0" targetFramework="net461" />
  <package id="DevExpress.Data" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Data.Desktop" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Drawing" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Pdf.Core" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Pdf.Drawing" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.PivotGrid.Core" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Export" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Sparkline.Core" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Utils" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.Grid" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.Navigation" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.PivotGrid" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.Printing" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.TreeList" version="22.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.VerticalGrid" version="22.2.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.9.0" targetFramework="net461" />
  <package id="RoboSharp" version="1.2.8" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
</packages>